<!----
<div class = "nav-bar">
  <ul>
      <li id = "web-logo"><a href = "/">dormeter</a></li>
        <li>
            <form>
              <input type = "text" placeholder = "Search for a dorm" required>
              <input type = "submit" value = "Search">
            </form>
        </li>
      <li id = "web-buttons"><a href = "/users/register">register</a>
          <a href = "/users/login">login</a></li>
  </ul>
</div>
<hr>
---->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><h4>dormeter</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard"> <span class="sr-only">(current)</span></a>
        </li> 
  
        <form class="form-inline my-2 my-lg-0" method="POST" action= "/search">
          <div class="input-group">
            <input class="form-control mr-sm-2" type="search" placeholder="Search for a Dorm" aria-label="Search"
              aria-describedby="button-addon1" name = "search">
            <div class="input-group-append"><button id="button-addon1" class="btn btn-outline-success my-2 my-sm-0"
                type="submit">Search</button></div>
          </div>
        </form>
        <div class = "ml-5">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        </div>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Login/Register
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users/login">Login</a>
            <a class="dropdown-item" href="/users/register">Register</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  