body {
  background-color: #262626;
  color: black;
  font-family: Tahoma, Geneva, sans-serif;
}

table {
  visibility: visible;
}

.nav-bar {
  display: block;
  background-color: turquoise;
  font-size: 25px;
  box-shadow: 0px 1px black;
  width: 100vw;
  text-align: right;
  vertical-align: center;
  position: fixed;
  margin-top: -8px;
  margin-left: -8px;
  padding-left: 2vw;
  text-decoration: none;
  margin-right: 8vw;
}

.nav-bar a {
  text-decoration: none;
  padding-right: .5vw;
  margin-right: 5px;
  text-shadow: 2px 2px black;
  color: purple;
  text-align: right;
  white-space: nowrap;
}

.nav-buttons {
  margin-right: 50vw;
}

#search-bar {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 10vw;
}

#search-bar input[type=text] {
  float: left;
  padding: 6px;
  margin-top: 4px;
  margin-right: -8px;
  border: none;
  font-size: 17px;
  box-sizing: border-box;
  border-radius: 5px;
  height: 40px;
  width: 270px;
}

#search-bar input[type=submit]  {
  float: right;
  padding: 6px;
  margin-top: 4px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
  box-sizing: border-box;
  margin-right: 10vw;
  border-radius: 5px;
  height: 40px;
  display: inline-block;
  position: absolute;
}

#search-bar input[type=submit]:hover  {
  background-color:#fafafa;
  color:#207cca;
}

#web-logo {
  font-size: 50px;
  margin-right: 30px;
  padding-right: 5vw;
  padding-left: 5vw;
}

.content-set {
  padding-top: 50px;
  color: white;
  font-size: 30px;
  background-color: black;
  width: 100.05vw;
  height: 370px;
  margin-left: -.5vw;
}

.content-set h1 {
  color: purple;
  text-align: center;
  padding-left: 24.5vw;
}

.content-set p {
  margin-top: -2vw;
  padding-left: 24.5vw;
  text-align: center;
  width: 50vw;
}

#index-buttons {
  margin-top: 50px;
  margin-left: 37vw;
}

#index-buttons input[type=button] {
  box-sizing: border-box;
  margin-right: 10px;
  border-radius: 5px;
  display: inline-block;
  font-size: 30px;
  position: relative;
}

#index-buttons input[type=button]:hover {
    background-color: turquoise;
}
