<!------------Navigation Bar---------------->
<% include partials/usernav.ejs %>
<!------------Content----------------->
<div class="dashboard-layout">
    <h1><%= student.name %>'s Profile</h1>
    <p>
        <h2><%= student.university %></h2>
    </p>
    <p>
        <h4><%= student.description %></h4>
    </p>
    <script>
    </script>
</div>