<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset = "utf-8">
    <link rel = "stylesheet" type = "text/css" href = "assets/style.css">
    <script src="script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Dormeter | Register</title>
  </head>
  <body>
<!------------Navigation Bar---------------->
<% include partials/nav.ejs %>
<!-------------Content------------------->
    <div class = "content-set">
      <table>
        <tr>
          <td>
            <h1>Register Now!</h1>
            <br/>
            <p>Dormeter is a site dedicated to providing students
              with information and reviews on prospective dorms, provided by
              other students.A site made by students for students!</p>
          </td>
        </tr>
      </table>
    </div>
<!------------Redirection--------------->
    <div id = "index-buttons">
      <form>
        <ul>
          <li><input type = "text" placeholder = "Name"></li>
          <li><input type = "text" placeholder = "Last Name"></li>
          <li><input type = "text" placeholder = "School Email"></li>
          <li><input type = "text" placeholder = "Age"></li>
          <li><input type = "text" placeholder = "University"></li>
          <li><input type = "button" value = "Begin Searching"></li>
        </ul>
      </form>
    </div>
<!--------------------------------------->
  </body>
</html>
