<!---- Nav Bar -------->
<% include partials/nav.ejs %>
<!--------------------->
<div class = "form-layout">
<h1> Register
      </h1>
    <div id = "index-buttons">
      <% include ./partials/messages %>
      <form action="/users/register" method="POST">
        <ul>
          <li><label for="name">Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          /></li>
          <li><label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter School Email(.edu)"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          /></li>
          <li><label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          /></li>
          <li><label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          /></li>
        <li><button type="submit" class="btn btn-primary btn-block">
          Register
        </button></li>
        </ul>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
</div>
</div>
