<!------------Navigation Bar---------------->
<%- include partials/usernav.ejs %>
<!-------------Content------------------->
<h1>Post a Review of your Dorm!</h1>
<!------------Redirection--------------->
<form action="/posts/review" method="post">
  <div class="input-group mb-3">

    <input class="form-control" type="text" name="title" placeholder="Title your Review">
    <input class="form-control" type="text" name="dorm" placeholder="Whats the Name of this Dorm">
    <div class="input-group-append">
      <select class="custom-select" id="inputGroupSelect01" name="rating">
        <option selected>Rating</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  </div>
  <div class="input-group mb-3">

    <textarea class="form-control" type="text" rows="20" cols="20" name="content"
      placeholder="Type something"></textarea>
  </div>
  <button class="btn btn-outline-success my-2 my-sm-0 form-control" type="submit">Post Review</button>
</form>
<!--------------------------------------->