      <!---- Nav Bar -------->
      <% include partials/nav.ejs %>
      <!--------------------->
<!-------------Content------------------->
    <div class = "content-set">
      <table>
        <tr>
          <td>
            <h1>Welcome To Dormeter</h1>
            <br/>
            <p>Dormeter is a site dedicated to providing students
              with information and reviews on prospective dorms, provided by other students.
              A site made by students for students!</p>
          </td>
        </tr>
      </table>
    </div>
<!------------Redirection--------------->
      <div id = "redirection">

      </div>
    </div>
