      <!---- Nav Bar -------->
      <% include partials/nav.ejs %>
      <!--------------------->
<!-------------Content------------------->
    <div class = "content-set">
      <table>
        <tr>
          <td>
            <h1>Welcome To Dormeter</h1>
            <br/>
            <p>Dormeter is a site dedicated to providing students
              with information and reviews on prospective dorms, provided by other students.
              A site made by students for students!</p>
              <form class="form-inline my-2 my-lg-0" method="POST" action= "/search">
                <div class="input-group">
                  <input class="form-control" type="search" placeholder="Search for a Dorm" aria-label="Search"
                    aria-describedby="button-addon1" name = "search">
                  <div class="input-group-append"><button id="button-addon1" class="btn btn-outline-success my-2 my-sm-0"
                      type="submit">Search</button></div>
                </div>
              </form>
          </td>
        </tr>
      </table>
    </div>
<!------------Redirection--------------->
      <div id = "redirection">

      </div>
    </div>
