<!-------------Content------------------->
    <div class = "content-set">
      <table>
        <tr>
          <td>
            <h1>Welcome To Dormeter</h1>
            <br/>
            <p>Dormeter is a site dedicated to providing students
              with information and reviews on prospective dorms, provided by other students.
              A site made by students for students!</p>
          </td>
        </tr>
      </table>
    </div>
<!------------Redirection--------------->
      <div id = "redirection">
        <ul>
          <li><p>Create an account or login</p></li>
          <li><a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a></li>
      </div>
    </div>
